.nav {
  background-color: transparent;

  @include respond-below(sm) {
    background-color: $white;
  }

  div {
    &.main_list {
      ul{
        li{
          color: $primary-text;

          @include respond-below(sm) {
            color: $black;
          }

          &.separator {
            border-right: 2px solid $primary-text;
            height: 25px;
          }

          a{
            text-decoration: none;
            color: $primary-text;
            white-space: nowrap;
            border-bottom: 2px solid transparent;

            @include respond-below(sm) {
              color: $black;
            }

            &.active {
              border-bottom: 2px solid $primary-text;

              @include respond-below(sm) {
                border-bottom: 2px solid $black;;
              }
            }
          }
        }

        &.menuLight {
          li {
            color: $primary-text;
            a {
              color: $primary-text;

              &.active {
                border-bottom: 2px solid $black;
              }
            }
          }
        }
      }
    }
  }
}

.nav div.main_list ul li a:hover{
  color: $gray-10;
  border-bottom: 2px solid $gray-10;
}

.dropdown button {
  color: $primary-text;

  @include respond-below(sm) {
    color: $black;
  }
}

.scroll {
  background-color: $white;

  .dropdown button {
    color: $black !important;
  }

  a, li, p {
    color: $black !important;
  }
}

.video-bg {
  z-index: -1;
}

.hero {
  background-color: $primary;
  background-size: cover;
  background-position: top right;
  height: 95vh;


  &-subpage {
    background: unset;
    background-color: $primary;
  }
}


