.theme0 .scroll {
  .dropdown button {
    color: $primary-text;
  }

  a, li, p {
    color: $primary-text;
  }
}

.theme0 {
  #nav-btn {
    display: none;
  }

  #mySidenav {
    left: unset;
    right: unset;
  }
}

.theme1 {
  #nav-btn {
    display: block;
    position: absolute;
    left: 450px;

    @include respond-below(sm) {
      display: none;
    }
  }

  #default-nav{
    display: none;

    @include respond-below(sm) {
      display: block;
    }
  }

  #mySidenav {
    left: 0;
    right: unset;
  }
}

.theme2 {
  #nav-btn {
    display: block;
    position: absolute;
    right: 420px;

    @include respond-below(sm) {
      display: none;
    }
  }

  .header-logo {
    display: block;
  }

  #default-nav{
    display: none;

    @include respond-below(sm) {
      display: block;
    }
  }

  #mySidenav {
    left: unset;
    right: 0;
  }
}