.nav div.main_list ul li a{
  text-decoration: none;
  color: $primary-text !important;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
}

.nav div.main_list ul li a:hover{
  color: $gray-80;
  border-bottom: 2px solid $gray-80;
}