.footer {
  &-primary {
    background-color: $primary;
    padding: 20px 0;

    .grid {
      grid-column-gap: 40px;

      @include respond-below(md) {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      }
    }

    h1, h2, h3, h4, h5, h6, p, a {
      @include respond-below(sm) {
        text-align: center;
      }
    }

    ul {
      li {
        a{
          color: $white;
        }
      }
    }
    img {
      @include respond-below(sm) {
        display: block;
        margin: 0 auto;
      }
    }
  }
  &-secondary {
    height: 50px; //Temporary
    background-color: $secondary;
  }
}

//Footer navigation
.column-nav-item {
  padding: 0;
  list-style: none;

  @include respond-below(sm) {
    text-align: center !important;
  }

  .column-list-item{

    a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      padding: 5px;

      &:visited, &:active {
        color: $white;
      }

      &:hover {
        color: darken($primary, 50%);
      }
    }
  }
}